$primaryColor: #9fd9fd;
$secondaryColor: #84b00c;
html {
    background-color: $primaryColor;
    font-size: 100%;
    font-family: helvetica, sans-serif;
}

header {
    background-color: $primaryColor;
    color: darken($primaryColor, 50%);
    
    font-weight: bold;
    text-align: center;
    padding-bottom: 25px;
    h1 {
        font-size: 400%;
        padding-top: 20px;
        margin: 0;
    }
    p {
        font-size: 300%;
        border-bottom: solid darken($primaryColor, 50%);
        padding-bottom: 25px;
        margin: 0;
    }  
}

body {
    background-color: $primaryColor;
    color: lighten($primaryColor, 25);
    padding: 0;
    margin: 0;
}

.sitenav{
    font-size: 150%;
    ul {
        padding: 10px 10px 0 10px;
        margin: 0;
        @extend .group;
    }

    li {
        display: block;
        box-sizing: border-box;
        background-color: darken($primaryColor, 25);
        float: left;
        margin-right: 5px;
        padding: 10px 10px 5px 10px;
        border-radius: 5px 5px 0 0;
        color: lighten($primaryColor, 25);
        
    }

    li:hover {
        transition: all 0.5s;
        background-color: lighten($primaryColor, 25);
        color: darken($primaryColor, 25);
    }
}

.content-area{
    background-color: darken($primaryColor, 25);
    text-align: center;
    .carole-size {
        margin: auto;
        display: block;
        width: 60%;
    }
    h3 {
        box-sizing: border-box;
        margin: 0;
        padding: 25px 25px 0 25px;
    }
    p {
        @extend h3;
        padding-bottom: 25px;
        font-size: 125%;
    }

    .blender-email {
        padding: 0px 0px 30px 0px;
        margin: none;
        font-size: 200%;
        font-weight: bold;
        text-decoration: underline;
    }

    .gallery {
        @extend h3;
        .gal-image {            
            display: block;
            float: left;
            box-sizing: border-box;
            padding: 10px 10px;
            width: 25%;
            align-content: center;
            position: relative;
            overflow: hidden;
            p {
                position: absolute;
                bottom: 0;
                left: 0;
                font-size: 300%;
                width: 100%;
                background-color: rgba(darken($primaryColor, 25), 0.5);
                opacity: 0;
                transition-property: all;
                transition-duration: 1s;
                transform: translateY(100%);
            }  
                
        }

        .gal-image:hover { 
            p {
                transform: translateY(0);
                opacity: 1;
            }
        }

        @extend .group;
        @media screen and (max-width: 480px){
            .gal-image {
                display: block;
                margin: auto;
                width: auto;
                float: none;
                padding: none;
            }
        }
        @media screen and (max-width: 700px){
            .gal-image {
                width: 50%;
            }
        }

        h2 {
            text-align: center;
        }

        .full-image {
            display: block;
            float: left;
            box-sizing: border-box;
            padding: 10px 10px;
            width: 25%;
        }
    }
}



.fix {
    clear: both;
}

.row:before,
.row:after,
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}