html {
  background-color: #9fd9fd;
  font-size: 100%;
  font-family: helvetica, sans-serif;
}

header {
  background-color: #9fd9fd;
  color: #03609a;
  font-weight: bold;
  text-align: center;
  padding-bottom: 25px;
}
header h1 {
  font-size: 400%;
  padding-top: 20px;
  margin: 0;
}
header p, header .content-area .intro, .content-area header .intro {
  font-size: 300%;
  border-bottom: solid #03609a;
  padding-bottom: 25px;
  margin: 0;
}

body {
  background-color: #9fd9fd;
  color: white;
  padding: 0;
  margin: 0;
}

.sitenav {
  font-size: 150%;
}
.sitenav ul {
  padding: 10px 10px 0 10px;
  margin: 0;
}
.sitenav li {
  display: block;
  box-sizing: border-box;
  background-color: #22a8fa;
  float: left;
  margin-right: 5px;
  padding: 10px 10px 5px 10px;
  border-radius: 5px 5px 0 0;
  color: white;
}
.sitenav li:hover {
  transition: all 0.5s;
  background-color: white;
  color: #22a8fa;
}

.content-area {
  background-color: #22a8fa;
  text-align: center;
}
.content-area .carole-size {
  margin: auto;
  display: block;
  width: 60%;
}
@media screen and (max-width: 700px) {
  .content-area .carole-size {
    width: 100%;
  }
}
.content-area .intro {
  width: 25%;
}
.content-area h3, .content-area .gallery, .content-area p, .content-area .intro {
  box-sizing: border-box;
  margin: 0;
  padding: 25px 25px 0 25px;
}
.content-area p, .content-area .intro {
  padding-bottom: 25px;
  font-size: 125%;
}
.content-area .intro {
  margin: auto;
  text-align: center;
  width: 70%;
}
@media screen and (max-width: 700px) {
  .content-area .intro {
    width: 100%;
  }
}
.content-area .blender-email {
  padding: 0px 0px 30px 0px;
  margin: none;
  font-size: 200%;
  font-weight: bold;
  text-decoration: underline;
}
.content-area .gallery .gal-image {
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 25%;
  align-content: center;
  position: relative;
  overflow: hidden;
}
.content-area .gallery .gal-image img {
  width: 100%;
  height: auto;
}
.content-area .gallery .gal-image p, .content-area .gallery .gal-image .intro {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 300%;
  width: 100%;
  background-color: rgba(34, 168, 250, 0.5);
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
  transform: translateY(100%);
}
.content-area .gallery .gal-image:hover p, .content-area .gallery .gal-image:hover .intro {
  transform: translateY(0);
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .content-area .gallery .gal-image {
    display: block;
    margin: auto;
    width: auto;
    float: none;
    padding: none;
  }
  .content-area .gallery .gal-image p, .content-area .gallery .gal-image .intro {
    font-size: 150%;
  }
}
@media screen and (max-width: 700px) {
  .content-area .gallery .gal-image {
    width: 50%;
  }
}
.content-area .gallery h2 {
  text-align: center;
}
.content-area .gallery .full-image {
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 25%;
}

.fix {
  clear: both;
}

.row:before,
.row:after,
.group:before,
.sitenav ul:before,
.content-area .gallery:before,
.group:after,
.sitenav ul:after,
.content-area .gallery:after {
  content: "";
  display: table;
}

.group:after, .sitenav ul:after, .content-area .gallery:after {
  clear: both;
}

.group, .sitenav ul, .content-area .gallery {
  zoom: 1;
}

/*# sourceMappingURL=screenoutput.css.map */
